<!DOCTYPE html>
<html>
  <head>
    <title>Clubhouse</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <h1>Clubhouse</h1>
      <% if (user) { %>
      <nav>
        <a href="/">Home</a>
        <a href="/message/create">Create a New Message</a>
        <a href="/auth/logout">Logout</a>
      </nav>
      <% } else { %>
      <nav>
        <a href="/">Home</a>
        <a href="/auth/login">Login</a>
        <a href="/auth/signup">Sign Up</a>
      </nav>
      <% } %>
    </header>
    <main><%- body %></main>
    <footer>
      <p>&copy; 2024 Clubhouse</p>
    </footer>
  </body>
</html>
